// colors
$primary-color: #06d6a0;
$secondary-color: #ef476f;
$surface-color: #ffffff;
$background-color: #f7f7f7;
$error-color: #fb5607;

// text color
$on-primary-color: #ffffff;
$on-secondary-color: #ffffff;
$on-surface-color: #000000;
$on-background-color: #000000;
$on-error-color: #ffffff;
