@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";

// featured
.featured {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  padding: 0;
  background-color: variables.$surface-color;
  color: variables.$on-surface-color;

  // box-shadow
  @include mixins.surface-shadow;

  // featured__img
  &__img {
    display: block;
    max-width: 100%;
  }

  // featured__text
  &__text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  // featured__title
  &__title {
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: typography.$text-high-color;
  }

  // featured__publishedAt
  &__publishedAt {
    font-size: 0.75rem;
    align-self: flex-end;
    color: typography.$text-high-color;
  }
}

// articles
.articles {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
}

// article
.article {
  display: block;
  width: 100%;
  text-decoration: none;
  background-color: variables.$surface-color;
  color: variables.$on-surface-color;

  // box-shadow
  @include mixins.surface-shadow;

  // article__text
  &__text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  // article__img
  &__img {
    display: block;
    max-width: 100%;
  }

  // article__title
  &__title {
  }

  // article__publishedAt
  &__publishedAt {
  }
}
