@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";

// featured-articles
.featured-articles {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;

  // tablet
  @include mixins.tablet {
    grid-template-columns: 1fr 1fr;
  }

  // large tablet
  @include mixins.large-tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// featured
.featured {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0;
  background-color: variables.$surface-color;
  color: variables.$on-surface-color;
  position: relative;

  // box-shadow
  @include mixins.surface-shadow;
  transition: box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover,
  &:focus,
  &:active {
    // box-shadow
    @include mixins.surface-hover-shadow;
  }

  &:hover &__title {
    color: variables.$primary-color;
  }

  // featured__img-wrapper
  &__img-wrapper {
    height: 50%;

    // large tablet
    @include mixins.large-tablet {
      height: 35%;
    }

    // small desktop
    @include mixins.small-desktop {
      height: 40%;
    }

    // desktop
    @include mixins.desktop {
      height: 48%;
    }
  }

  // featured__img
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // featured__text
  &__text {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // large tablet
    @include mixins.large-tablet {
      height: 65%;
    }

    // small desktop
    @include mixins.small-desktop {
      height: 60%;
    }

    // desktop
    @include mixins.desktop {
      height: 52%;
    }
  }

  // featured__title
  &__title {
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    color: typography.$text-high-color;
  }

  // featured__publishedAt
  &__publishedAt {
    font-size: 0.75rem;
    align-self: flex-end;
    background-color: variables.$primary-color;
    color: #000000;
    padding: 0.5rem;
    border-top-left-radius: 8px;
  }

  // featured__tag
  &__tag {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: variables.$secondary-color;
    color: variables.$on-secondary-color;
    padding: 0.5rem;
    text-transform: uppercase;
  }
}

// articles
.articles {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;

  // tablet
  @include mixins.tablet {
    grid-template-columns: 1fr 1fr;
  }

  // large tablet
  @include mixins.large-tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

  // desktop
  @include mixins.desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// article
.article {
  display: flex;
  width: 100%;
  height: 144px;
  text-decoration: none;
  background-color: variables.$surface-color;
  color: variables.$on-surface-color;

  // box-shadow
  @include mixins.surface-shadow;
  transition: box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover,
  &:focus,
  &:active {
    // box-shadow
    @include mixins.surface-hover-shadow;
  }

  &:hover &__title {
    color: variables.$primary-color;
  }

  &:hover &__img {
    transform: scale(1.2);
  }

  // tablet
  @include mixins.tablet {
    flex-direction: column;
    height: auto;
  }

  // article__text
  &__text {
    width: 60%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // tablet
    @include mixins.tablet {
      width: 100%;
      height: 45%;
    }

    // large tablet
    @include mixins.large-tablet {
      height: 48%;
    }

    // small desktop
    @include mixins.small-desktop {
      height: 40%;
    }
  }

  // article__img-wrapper
  &__img-wrapper {
    width: 40%;
    height: 100%;
    overflow: hidden;

    // tablet
    @include mixins.tablet {
      width: 100%;
      height: 55%;
    }

    // large tablet
    @include mixins.large-tablet {
      height: 52%;
    }

    // small desktop
    @include mixins.small-desktop {
      height: 60%;
    }
  }

  // article__img
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  // article__title
  &__title {
    color: typography.$text-high-color;
    font-size: 0.875rem;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // article__publishedAt
  &__publishedAt {
    display: block;
    background-color: variables.$primary-color;
    color: variables.$on-surface-color;
    align-self: flex-end;
    padding: 0.5rem;
    font-size: 0.75rem;
    border-top-left-radius: 8px;
  }
}
