@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";

// featured
.featured {
  width: 100%;
  margin: 0;
  padding: 0;
  // featured__img
  &__img {
    display: block;
    max-width: 100%;
  }

  // featured__text
  &__text {
  }

  // featured__title
  &__title {
  }
}

// articles
.articles {
}

// article
.article {
  // article__img
  &__img {
    display: block;
    max-width: 100%;
  }

  // article__title
  &__title {
  }

  // article__publishedAt
  &__publishedAt {
  }
}
