@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";

// featured
.featured {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  padding: 0;
  background-color: variables.$surface-color;
  color: variables.$on-surface-color;

  // box-shadow
  @include mixins.surface-shadow;

  &:hover &__title,
  &:hover &__publishedAt {
    color: variables.$primary-color;
  }

  // large tablet
  @include mixins.large-tablet {
    width: 90%;
    margin: auto;
  }

  // featured__img
  &__img {
    display: block;
    max-width: 100%;
  }

  // featured__text
  &__text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  // featured__title
  &__title {
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: typography.$text-high-color;
  }

  // featured__publishedAt
  &__publishedAt {
    font-size: 0.75rem;
    align-self: flex-end;
    color: typography.$text-high-color;
  }
}

// articles
.articles {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;

  // tablet
  @include mixins.tablet {
    grid-template-columns: 1fr 1fr;
  }

  // large tablet
  @include mixins.large-tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// article
.article {
  display: flex;
  width: 100%;
  height: 144px;
  text-decoration: none;
  background-color: variables.$surface-color;
  color: variables.$on-surface-color;

  // box-shadow
  @include mixins.surface-shadow;

  &:hover &__title {
    color: variables.$primary-color;
  }

  // tablet
  @include mixins.tablet {
    flex-direction: column;
    height: auto;
  }

  // article__text
  &__text {
    width: 60%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // tablet
    @include mixins.tablet {
      width: 100%;
      height: 45%;
    }
  }

  // article__img-wrapper
  &__img-wrapper {
    width: 40%;
    height: 100%;

    // tablet
    @include mixins.tablet {
      width: 100%;
      height: 55%;
    }
  }

  // article__img
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // article__title
  &__title {
    color: typography.$text-high-color;
    font-size: 0.875rem;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // article__publishedAt
  &__publishedAt {
    display: block;
    background-color: variables.$primary-color;
    color: variables.$on-primary-color;
    align-self: flex-end;
    padding: 0.5rem;
    font-size: 0.75rem;
    border-top-left-radius: 8px;
  }
}
